.titulo {
    color: var(--ion-color-primary);
    font-weight: bold;
    text-align: center;
}

p#descripcion {
    text-align: justify;
}

.center-card {
    text-align: center;
    padding-bottom: 5%;
}

.icon-information {
    margin-right: 5px;
}