<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Información
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-card class="center-card">
        <ion-card-header>
            <ion-card-title>Anuncios</ion-card-title>
            <!--<ion-card-subtitle></ion-card-subtitle>-->
        </ion-card-header>

        <ion-card-content>
            Aquí podrás encontrar información sobre anuncios de la ciudadela
        </ion-card-content>

        <ion-button size="large" tab="tab1" href="/tabs/tab2">
            <ion-icon name="megaphone" class="icon-information"></ion-icon>
            Ver Anuncios
        </ion-button>
    </ion-card>

    <ion-card class="center-card">
        <ion-card-header>
            <ion-card-title>Contactos</ion-card-title>
            <!--<ion-card-subtitle></ion-card-subtitle>-->
        </ion-card-header>

        <ion-card-content>
            Aquí podrás encontrar información sobre el personal de administración, limpieza y mantenimiento. 
        </ion-card-content>

        <ion-button size="large">
            <ion-icon name="id-card" class="icon-information"></ion-icon>
            Ver Contactos
        </ion-button>
    </ion-card>

    <ion-card class="center-card">
        <ion-card-header>
            <ion-card-title>Acerca de</ion-card-title>
            <!--<ion-card-subtitle></ion-card-subtitle>-->
        </ion-card-header>

        <ion-card-content>
            Aquí podrás encontrar información sobre cómo utilizar la aplicación
        </ion-card-content>

        <ion-button size="large">
            <ion-icon name="help-circle" class="icon-information"></ion-icon>
            Ver Pasos
        </ion-button>
    </ion-card>
</ion-content>