<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reportar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="ion-padding-bottom ion-margin-bottom">

    <ion-card-header>
      <ion-card-title>Agregue aquí la información de su reporte y una imagen</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">

      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

        <ion-select formControlName="score" label="Tipo de reporte" placeholder="Seleccione un valor">
          <ion-select-option value="Automovil">Automovil</ion-select-option>
          <ion-select-option value="Animal">Animal </ion-select-option>
        </ion-select>

        <ion-textarea formControlName="opinion" label="Descripción del reporte"
          placeholder="Agregue aquí su descripción"></ion-textarea>

        @if(imageReady()) {
          <ion-card-content>

            <img #image [src]="imageUrl()" alt="Imagen seleccionada" />

            <!-- CARGA DE PREDICCIÓN - INICIO -->
            @if(modelLoaded()) {
              <div class="ion-text-center ion-padding-top ion-padding-bottom">
                <ion-button fill="outline" color="success" (click)="predict()">Predecir</ion-button>
              </div>

              <ion-list>
                <ion-item>
                  <ion-label>Reportes: {{ classLabels.join(', ').replace(',', ' ,') }} </ion-label>
                </ion-item>
                <!-- Itere sobre la lista de predicciones -->
                @for (item of predictions; track $index) {
                <ion-item>
                  <ion-label> {{ item?.className }} : {{ item?.probability | percent }} </ion-label>
                </ion-item>
                }
              </ion-list>
            }
            <!-- CARGA DE PREDICCIÓN - FIN -->
          </ion-card-content>
        }

        <div class="button-container">
          <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden />
          <ion-button fill="outline" color="primary" (click)="fileInput.click()">
            <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
            Subir Imagen
          </ion-button>

          <ion-button type="submit" [disabled]="!myForm.valid">Enviar</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>