<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Historial de Reportes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- CARGA DE DATOS - INICIO -->
    @for (datum of dataList; track $index) {
      <ion-card class="ion-padding-bottom ion-margin-bottom">
        <img [src]="datum?.image" alt="reporte" />
        <ion-card-header>
          <ion-card-title>Rerpote sobre: {{ datum?.score }}</ion-card-title>
          <ion-card-subtitle>{{ datum?.date.split('T')[0] }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ datum?.opinion }}
        </ion-card-content>
      </ion-card>

    }
    <!-- CARGA DE DATOS - FIN -->
</ion-content>