<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Historial de Reportes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding-bottom ion-margin-bottom">

    <ion-card-header>
      <ion-card-title>Reportes</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <!-- CARGA DE DATOS - INICIO -->
        @for (datum of dataList; track $index) {
        <ion-item>
          <ion-label> {{ datum?.score }} </ion-label>
          <ion-label> {{ datum?.opinion }} </ion-label>
        </ion-item>
        }
        <!-- CARGA DE DATOS - FIN -->

      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>